<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    colors="true"
    cacheDirectory=".phpunit.cache">
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="default">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing" />
        <env name="APP_KEY" value="base64:QWNrZlNFQ1hJdm5LNXIyOEdWSVdVQXhtYkJTalRzbUY=" />
        <env name="APP_DEBUG" value="true" />
        <env name="DB_CONNECTION" value="testing" />
        <env name="DB_DATABASE" value=":memory:" />
    </php>
</phpunit>